.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    margin: 10px;
}

.nav-items >ul{
    list-style-type: none;
    display:flex;
    padding: 10px;
}

.nav-items > ul > li{
    padding: 10px;
}

.logo { 
    height: 100px;
    width: 100px;
}

.card{
    width: 200px;  
    border: 1px solid black; 
    padding: 10px;
    margin: 10px;
}

.card > img{
    width:100%;
}

.restaurantLists {
    display: flex;
    flex-wrap: wrap;
}